<!--https://bootstrap-vue.js.org/docs/reference/starter-templates/

Nice Example:
https://github.com/rdegges/cryptocompare
https://developer.okta.com/blog/2017/09/06/build-a-cryptocurrency-comparison-site-with-vuejs

-->

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <title>Development Assignment - Bootstrap-Vue</title>

  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>

  <!--Vue.js link-->
  <script type="text/javascript" src="js/vue.js"></script>

  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>

  <!-- Our application root element which contains all bootstrap-Vue elements -->
  <div id="app" style="background-color:#FF5733;">

    <h2 style="font-size:10vw">Simple Expense Tracker<b-badge>V-0.02</b-badge></h2>

    <b-modal v-model="modalShow">
      New Entry!<br>
    </b-modal>

    <!-- Tabs with card integration -->
    <b-card no-body>

      <b-tabs small card v-model="tabIndex">

        <b-tab title="Expense Entry">

          Enter an expense: <b-form-input v-model="text1"
          type="text"
          placeholder="Name"></b-form-input>

          Enter a cost: <b-form-input v-model="text2"
          type="text"
          placeholder="Cost"></b-form-input>

          <b-button size="lg" variant="danger" @click="addExpense" style="background-color: black">
            Add New Expense!
          </b-button>

        </b-tab>

        <b-tab title="Income Entry">

          Enter an income source: <b-form-input v-model="text1"
                            type="text"
                            placeholder="Name"></b-form-input>

          Enter an amount: <b-form-input v-model="text2"
                        type="text"
                        placeholder="Cost"></b-form-input>

          <b-button size="lg" variant="success" @click="addIncome" style="background-color: black">
              Add New Income!
          </b-button>

        </b-tab>


        <b-tab title="Expense Ledger">
          You have entered:
          <b-table striped hover :items="items"></b-table>
        </b-tab>

        <b-tab title="Expense List">
          Here is the same info in a list:

          <ol>
            <li v-for="item in items">{{ item }}</li>
          </ol>

        </b-tab>

      </b-tabs>
    </b-card>

    <b-card class="text-center">
      <h1 v-if ="addExpense >=0">You currently have {{totalExpense}} dollars!</h1>
      <!-- The Math.abs function returns the absolute value that is -->
      <h1 v-else>You currently owe {{Math.abs(totalExpense)}} dollars!</h1>
      <p v-if="warning === 1"> You should be more mindful of your spending habits </p>
      <p v-if="warning === 2"> <b-alert show variant="danger"> You are currently in the red </b-alert> </p>

    </b-card>


    <!-- Control buttons-->
    <div class="text-center">
      <b-button-group class="mt-2" style="padding: 10px;">
        <b-btn variant="primary" @click="tabIndex--">Previous</b-btn>
        <b-btn variant="primary" @click="tabIndex++" >Next</b-btn>
      </b-button-group>
      <br>
      <span class="text-muted">Current Tab: {{tabIndex}}</span>
    </div>

  </div>



  <!-- Start running your app -->
  <script>
    window.app = new Vue({
      el: "#app",
      data: {
        //Variables go here. key : value pairs. Comma separated
        tabIndex: 0,
        text1: "",
        text2: "",
        size: "",
        variant: "",
        modalShow: false,
        items: [],
        totalExpense: 0,
        warning: 0,

      },
      methods: {

        //Methods go here. Comma separated
        addExpense() {

          this.modalShow = !this.modalShow;

          let amount = this.text2;

          amount = -amount;

          var numItems = this.items.length;
          this.items.push({
            input1: this.text1,
            input2: amount
          });

          this.text1 = ""
          this.text2 = ""
          this.tabIndex = 2;
          this.totalExpense += parseInt(amount)


          if(this.totalExpense < 0) {
            this.warning = 1;
          }

          if (this.totalExpense < -500) {
            this.warning = 2;

            alert("You are operating at a loss, you should cease spending immediately")
          }

          if (this.totalExpense > 0) {
            this.warning = 0;
          }
        },

        addIncome() {

          this.modalShow = !this.modalShow;

          let amount = this.text2;

          var numItems = this.items.length;
          this.items.push({
            input1: this.text1,
            input2: amount
          });

          this.text1 = ""
          this.text2 = ""
          this.tabIndex = 2;
          this.totalExpense += parseInt(amount)


          if(this.totalExpense < 0) {
            this.warning = 1;
          }

          if (this.totalExpense < -500) {
            this.warning = 2;

            alert("You are operating at a loss, you should cease spending immediately")
          }

          if (this.totalExpense > 0) {
            this.warning = 0;
          }
        }
      }

    })
  </script>


</body>

</html>
